[Desktop Entry]
Name=Hermit
GenericName=Terminal emulator
GenericName[ru]=Эмулятор терминала
Comment=Lightweight terminal emulator
Comment[ru]=Легкий эмулятор терминала
TryExec=hermit
Exec=hermit
Icon=utilities-terminal
Type=Application
Categories=GTK;System;TerminalEmulator;
Terminal=false
Keywords=Run;

