Source: hermit
Section: x11
Priority: optional
Maintainer: HildigerR Vergaray <moonsdad@gmail.com>
Uploaders: HildigerR Vergaray <moonsdad@gmail.com>
Build-Depends: debhelper (>= 9), cmake, libgtk2.0-dev, libvte-dev, liblua5.3-dev
Standards-Version: 3.9.5
Homepage: https://github.com/moonsdad/hermit

Package: hermit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: x-terminal-emulator
Description: Simple terminal emulator based on vte library, embedded lua
 Support features like multiple tabs, switching encodings, sessions,
 configurable keybindings, embedded Lua language and xterm-like dynamic
 window title
